<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="../css/style.css" rel="stylesheet">
    </head>
    <body>
    <div class="mainContainer">
        <div class="demoTest">
             Hello!!! Please login
        </div>
       <textarea class="userName" placeholder="Please enter your name"></textarea>
       <div class="submit">
           Submit
       </div>
    </div>
    </body>
    <script
  <script src="../scripts/jquery.js"></script>
<script type="text/javascript" src="../js/base.js"></script>
<script type="text/javascript" src="../js/index.js"></script>
</html>